.formCoordenadas {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 2vh;
}

.formCoordenadas input {
  min-width: 6vh;
  width: 100%;
  border-radius: 5px;
  margin: 5%;
}

.inCoord {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
